<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZhodinoCH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZhodinoCH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ZhodinoCH.Properties.Settings>
      <setting name="LocalHost" serializeAs="String">
        <value>http://192.168.10.253:5984</value>
      </setting>
      <setting name="RemoteHost" serializeAs="String">
        <value>http://178.124.170.17:5984</value>
      </setting>
      <setting name="Application" serializeAs="String">
        <value>Запись на УЗИ</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>v2019.05.06-alpha</value>
      </setting>
      <setting name="DbNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>belgosstrakh</string>
            <string>bca</string>
            <string>viscera</string>
            <string>pelvic</string>
            <string>heart</string>
            <string>fgds</string>
            <string>thyroid</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DbTitles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>БелГосСтрах</string>
            <string>БЦА</string>
            <string>Внутренние органы</string>
            <string>ОМТ</string>
            <string>Сердце</string>
            <string>ФГДС</string>
            <string>Щитовидка</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ToolButtonFont" serializeAs="String">
        <value>Book Antiqua, 12pt</value>
      </setting>
    </ZhodinoCH.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ZhodinoCH.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
    </ZhodinoCH.Properties.Settings>
  </userSettings>
</configuration>